

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes toRight {
    0% {
    width: 0%;
        
    }

    100% {
        width: 90%;
    }
}

*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 50px;
    background: #fff;
    padding: 0 70px;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2DE02E;
}

.logo i {
    font-size: 35px;
}

.header-list  {
    display: flex;
    gap: 3.75rem;
    color: #24B325;
}

.header-list li {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    position: relative;
}

.header-list li:hover::before {
    content: '';
    position: absolute;
    top: 23px;
    left: 0;
    background: #24B325;
    width: 30px;
    height: 3px;
    border-radius: 20px;
    animation: toRight 0.5s ease forwards;
}

#button {
    padding: .8rem 2rem ;
    background: #143314;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s;
}

#button:hover {
    background-color: #2C472C
}

/* hero */

.hero-container {
    background-image: url("/src/img/hero-img.jpg");
    position: relative;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}

.hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.793); /* Overlay preto com opacidade de 50% */
}

.hero-container h1 {
    position: relative;
    top: 120px;
    left: 90px;
    color: #FFF;
    font-size: 50px;
    width: 900px;
    z-index: 2;
}

/* sobre section */

.sobre-section {
    display: flex;
    height: 600px;
}

.img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.img-control {
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
}

.img1 {
    left: 13%;
    top: -20%;
}

.img2 {
    left: 10%;
    top: 0%;
}

.img3 {
    left: -40%;
    top: 17%;
}

.img-control img {
    width: 100%;
    border-radius: 10px;
}

.sobre-content {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: #000; */
}

.sobre-content h2{
    color: #24B325;
    position: relative;
    margin-bottom: 2rem;
    font-size: 40px;
}

.sobre-content h2::before {
    content: "";
    position: absolute;
    background-color: #24B325;
    top: 95%;
    left: 8%;
    width: 260px;
    height: 4px;
    display: block;
}

.sobre-content p {
    width: 500px;
    font-size: 16px;
    line-height: 170%;
    margin-bottom: 1rem;
} 

.text-bold {
    color: #24B325;
    font-weight: bold;
}

.strong {
    font-weight: bold;
}

.italic {
    font-style: italic;

}
body {
    margin-bottom: 1000px;
}

/* atividades section */

.atividades-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
}

.shape {
    background-color: #143314;
    width: 95%;
    height: 100%;
    border-radius: 80px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.atividades-control {
    display: flex;
}
.atividades-control p , h3 {
    color: #fff;
}

.atividades-control img {
    width:  200px;
}